@layer base {
  input,
  textarea {
    color: var(--text-dark);
    border: var(--border-color) 1px solid;
    background-color: var(--bg-white);
    @apply rounded;
  }

  input[type='submit'] {
    @apply bg-primary p-3 cursor-pointer;
    transition: 0.4s ease;
  }

  input[type='submit']:hover {
    @apply bg-primary-600 border-primary;
  }
}